html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #555555;
    background-color: #eeeeee;
}

a {
    color: #0055aa;
    text-decoration: none;
    font-weight: 400;
}

a:hover, a:focus {
    color: #0055aa;
    text-decoration: underline;
}

a:focus {
    outline: 3px solid #0055aa;
    outline-offset: 0;
    background-color: #0055aa;
    color: #FFF;
    text-decoration: none;
}

li {
    font-size: 1em;
}

ol {
    padding: 0 0 0 1.5em;
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 1em;
}

ul li {
	line-height: 100%;
}

ul li ul {
	margin-top: .2em;
}

ul li ul li ul {
	margin-bottom: .2em;
}

img {
    vertical-align: middle;
}

hr {
    height: 0;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #cccccc;
}


/*h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 1em 0 0.5em;
}*/

b,
strong {
    font-weight: 400;
}

blockquote {
    border-left: 5px solid #cccccc;
    padding-left: 1em;
    margin: 1em -1em;
    font-style: italic;
    color: #999999;
}

div.slide {
	min-width: 800px;
	max-width: 2400px;
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    line-height: 100%;
    font-size: 48px;
}

div.initial_prompt {
    display: none;
}

div.toolbar {
	font-size: .5em;
	height: /*20px*/ 0;
	color: #000000;
}

div.slide h1 {
    font-size: 1.5em;
    color: #0055aa;
    margin-top: .25em;
    margin-bottom: 0;
    font-weight: 450;
}

div.slide h2 {
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    color: #0055aa;
    margin-top: 0;
    margin-left: 0;
}

div.slide h3 {
    font-size: 0.6em;
    color: #0055aa;
}

div.slide h4 {
    font-size: 0.4em;
    color: #0055aa;
}

div.slide h5 {
    font-size: .3em;
    color: #0055aa;
}

div.slide h6 {
    font-size: .6em;
    color: #0055aa;
}

img[alt=MODIS] {
	width: 30%;
	height: 300px;
	float: left;
}

img[alt=MODIScurves] {
	width: 60%;
	height: 300px;
	float: right;
}

img[alt=DBoTSWtskp] {
	width: 90%;
}

img[alt=CNN] {
	width: 70%;
}

img[alt=DTW] {
	width: 40%;
	float: right;
}

img[alt=tRBF] {
	width: 20%;
	float: right;
}

img[alt=SQFD1] {
	width: 40%;
	float: left;
}

img[alt=SQFD2] {
	width: 40%;
	float: right;
}

img[alt=ECTS] {
	width: 80%;
	margin: auto;
}
