---
layout: default
title: Bio &amp; Contact
section: research
---
<div class="in">
	<section>
		<article class="content">
			<section class="post">
				<article class="post-content">
					<h2>Contact</h2>
					<p>
						E-mail: <a class="obfuscated" onclick="var aaa='@'; var m='romain.tavenard'+aaa+'univ-rennes2.fr';       this.innerHTML = m;       this.title = m;       this.href = 'mail'+'to:'+m;       this.onclick = null;       return false;       ">click to reveal</a>
                        [<i class="fa fa-github"></i> <a href="https://github.com/rtavenar">rtavenar</a>,
                         <i class="fa fa-twitter"></i> <a href="https://twitter.com/rtavenar">@rtavenar</a>]<br />
						Phone: +33 (0)2 99 14 17 98<br />
						Office: A201 (Villejean, Rennes, France)<br />
						<a href="https://www.google.com/maps/place/Université+Rennes+2/@48.118075,-1.703345,17z/">My University on Google Maps</a>
					</p>

					<h2>Bio</h2>
					<p>I am currently a full professor at University of Rennes 2 since September 2022, following nine years as an assistant professor. I conduct research in the LETG laboratory, with a focus on machine learning and indexing for time series data, specifically for environmental time series. I am also an associate member of the Obelix group at IRISA.</p>

					<h2>News</h2>
					<ul>
                        {% for news in site.data.research.news %}
                            <li>
								{% if news.url %}
									<a href="{{ news.url }}">{{ news.title }}</a>{{ news.description }}
								{% else %}
									{{ news.title }} {{ news.description }}
								{% endif %}
							</li>
                        {% endfor %}
					</ul>

					<h2>Students and Post-docs (past &amp; present)</h2>
					<ul>
                        {% for student in site.data.research.students %}
                            {% if student.url %}
                                <li>
                                    <a href="{{ student.url }}">{{ student.name }}</a>
                                    ({{ student.level }}, {{ student.year }}{% if student.now-at %}, {{ student.now-at }}{% endif %})
                                </li>
                            {% else %}
                                <li>{{ student.name }} ({{ student.level }}, {{ student.year }}{% if student.now-at %}, {{ student.now-at }}{% endif %})</li>
                            {% endif %}
                        {% endfor %}
					</ul>

					<section class="clear"></section>

				</article>
			</section>
		</article>
	</section>
</div>
