---
layout: default
title: Projects
section: research
---
<div class="in">
	<section>
		<article class="content">
            {% for project in site.data.research.projects %}
			<section class="page type-page status-publish hentry post cf">
				<header class="post-header">
					<h2 class="post-title">{{ project.title }}</h2>
				</header>
				<article class="post-content">
					<img src="/assets/images/{{ project.image }}" class="project" />
					<p>
						{{ project.text }}
					</p>

                    {% if project.fundings %}
					<h3 class="project">Related funded project{% if project.fundings.size > 1 %}s{% endif %}</h3>
                    <ul>
                        {% for funding in project.fundings %}
                        <li><a href="{{ funding.url }}">{{ funding.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.codes %}
					<h3 class="project">Related source code</h3>
                    <ul>
                        {% for code in project.codes %}
                        <li><a href="{{ code.url }}">{{ code.name }}</a>{{ code.description }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.datasets %}
					<h3 class="project">Related dataset{% if project.datasets.size > 1 %}s{% endif %}</h3>
                    <ul>
                        {% for dataset in project.datasets %}
                        <li><a href="{{ dataset.url }}">{{ dataset.name }}</a>{{ dataset.description }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

					<h3 class="project">Related papers</h3>
                    <div id="{{ project.div_id }}">
                    </div>
					<section class="clear"></section>

				</article>
			</section>
            {% endfor %}
		</article>
	</section>
</div>
