---
layout: default
title: Code &amp; Data
section: research
---
<div class="in">
	<section>
		<article class="content">
			<section class="post">
                <header class="post-header">
					<h2 class="post-title">Source code</h2>
                </header>
				<article class="post-content">

					<p>Source code related to my research projects is made available <a href="https://github.com/rtavenar?tab=repositories">on my GitHub repository</a>.</p>
                    <p>
						<code>tslearn</code> toolkit (machine learning for time series in python):
						<ul>
							<li><a href="https://tslearn.readthedocs.io">Documentation</a></li>
							<li><a href="https://github.com/tslearn-team/tslearn/">Github repository</a></li>
						</ul>
					</p>
					<section class="clear"></section>
				</article>
			</section>
			<section class="post">
                <header class="post-header">
					<h2 class="post-title">Data</h2>
                </header>
				<article class="post-content">
					<ul>
                        {% for project in site.data.research.projects %}
                                {% if project.datasets %}
                                    {% for dataset in project.datasets %}
                                    <li><a href="{{ dataset.url }}">{{ dataset.name }}</a>{{ dataset.description }}</li>
                                    {% endfor %}
                                {% endif %}
                        {% endfor %}
                    </ul>
					<section class="clear"></section>
				</article>
			</section>
		</article>
	</section>
</div>
