---
layout: default_edhec
title: Deep Learning course @ Univ. Rennes 2
section: teaching
---
<div class="in">
	<section class="post">
        <article>
            <h1>{{ site.data.teaching.ml.course-title }}</h1>
            {{ site.data.teaching.ml.description }}
        </article>
        {% for section in site.data.teaching.ml.sections %}
            <article class="post-content">
                <h2>{{ forloop.index }}. {{ section.title }}</h2>
                <ol>
                {% for item in section.items %}
                    <li {% if item.index %} value={{ item.index }} {% endif %}>
                    {% if item.deepnote %}
                        <a href="{{ item.deepnote }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ol>
            </article>
        {% endfor %}
	</section>
</div>