<!-- Header	-->
<header id="header" class="cf">
    <div class="in">
        <section class="logo-box logo-box-no-header-cta logo-box-full-width">
            <div id="title-slogan">
                <p id="title" class="site-title site-title-no-logo no-logo">Romain Tavenard</p>
                <p id="slogan" class="slogan ">
                    Supports de cours<br />Université de Rennes 2
                </p>
            </div>

            <nav class="primary-nav-container">
            <ul id="primary-nav" class="primary-nav menu">
                {% for item in site.data.navigation_teaching %}
                    <li class={% if page.url == item.link %}"menu-item current-menu-item"{% else %}"menu-item"{% endif %}>
                        <a href="{{ item.link }}">
                            <i class="fa {{ item.fa-item }} fa-2x"></i>
                            <p class="menu-text">{{ item.name }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </nav>
        </section>
    </div>
</header>
