---
layout: default
title: Accueil
section: teaching
---
<div class="in">
	<section>
		<article class="content">
			<section class="post">
				<article class="post-content">

					<h2>Available course material</h2>
					<ul class="courses">
                        {% for course in site.data.teaching.all_courses %}
                            <li>
								<span class="course-title">{{ course.title }}</span> <em>({{ course.context }})</em>
								{% if course.lang == "fr" %}
									<br /><em>Associated content is in French.</em>
								{% endif %}
								{% if course.links %}
									<div class="course-links">
										{% for course_link in course.links %}
											<a href="{{ course_link.url }}">{{ course_link.text }}</a>
										{% endfor %}
									</div>
								{% endif %}
							</li>
                        {% endfor %}
					</ul>

					<section class="clear"></section>

				</article>
			</section>
		</article>
	</section>
</div>
