<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | Romain Tavenard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" />
    {% if page.url == "/research/pub.html" or page.url == "/research/projects.html" %}
    <script>
      function showHide(shID) {
        if (document.getElementById(shID)) {
          if (document.getElementById(shID).style.display != 'none') {
            document.getElementById(shID).style.display = 'none';
          } else {
            document.getElementById(shID).style.display = 'block';
          }
        }
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/js/hal.js"></script>
    {% endif %}
  </head>
  <body>
    {% include navigation_research.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
