<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html><!--<![endif]-->
	<head>
		<title>{{ page.title }} |  Romain Tavenard</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<link rel='stylesheet' id='sds-google-web-font-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400&#038;ver=4.0' type='text/css' media='all' />
		<link rel='stylesheet' id='socialize-based--css'  href='/css/style.css' type='text/css' media='all' />
		<script language="javascript" type="text/javascript">
			function showHide(shID) {
			   if (document.getElementById(shID)) {
			      if (document.getElementById(shID).style.display != 'none') {
			         document.getElementById(shID).style.display = 'none';
			      } else {
			         document.getElementById(shID).style.display = 'block';
			      }
			   }
			}
	</script>
	</head>
    <body lang="fr-FR" class="page page-template no-customize-support custom-background">
        {% if page.section == "research" %}
            {% include navigation_research.html %}
        {% else %}
            {% include navigation_teaching.html %}
        {% endif %}
        {{ content }}
    </body>
</html>
